In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
movies_data_to_load = Path("imdb_movies.csv")

# Read and store into Pandas DataFrames
movies_data = pd.read_csv(movies_data_to_load)
movies_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [2]:
# Trim the data
movies_data_reduced = movies_data.drop(["overview","crew","orig_title","status"], axis=1)
movies_data_reduced

,names,date_x,score,genre,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08,GB

In [3]:
positive_revenue = movies_data_reduced.loc[movies_data_reduced["revenue"]>0]
positive_revenue

,names,date_x,score,genre,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08,US
...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,English,9145817.8,6.698361e+06,US
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08,GB

In [4]:
# Double check this code, it seems to have an issue
# start_date = "01/01/1990"
# end_date = "01/01/2020"
# date_filter_df = positive_revenue.loc[(positive_revenue["date_x"]>=start_date) & (positive_revenue["date_x"]<=end_date)]
# date_filter_df

# Assuming date_x is stored as string
positive_revenue.loc[:, "date_x"] = pd.to_datetime(positive_revenue["date_x"])

start_date = pd.to_datetime("01/01/1990")
end_date = pd.to_datetime("12/31/2020")

date_filter_df = positive_revenue.loc[(positive_revenue["date_x"] >= start_date) & (positive_revenue["date_x"] <= end_date)]
date_filter_df

,names,date_x,score,genre,orig_lang,budget_x,revenue,country
22,The Passion of the Christ,2004-02-25 00:00:00,74.0,Drama,English,25000000.0,622313635.0,AU
35,John Wick: Chapter 2,2017-05-18 00:00:00,73.0,"Action, Thriller, Crime",English,40000000.0,171539887.0,AU
39,John Wick: Chapter 3 - Parabellum,2019-05-16 00:00:00,74.0,"Action, Thriller, Crime",English,55000000.0,326709727.0,AU
58,A Bronx Tale,1994-05-20 00:00:00,78.0,"Drama, Crime",English,10000000.0,17287898.0,AU
61,The Forbidden Legend: Sex & Chopsticks 2,2009-03-04 00:00:00,60.0,"Comedy, Drama, Romance",Cantonese,89600000.0,318375960.2,HK
...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28 00:00:00,73.0,Drama,English,7000000.0,9353729.0,US
10174,Delta Force 2: The Colombian Connection,1990-08-24 00:00:00,54.0,Action,English,9145817.8,6698361.0,US
10175,The Russia House,1990-12-21 00:00:00,61.0,"Drama, Thriller, Romance",English,21800000.0,22997992.0,US
10176,Darkman II: The Return of Durant,1995-07-11 00:00:00,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,475661306.0,US
10177,The Swan Princess: A Royal Wedding,2020-07-20 00:00:00,70.0,"Animation, Family, Fantasy",English,92400000.0,539401838.6,GB

In [5]:
English_movies = date_filter_df.loc[date_filter_df["orig_lang"]== " English"]
English_movies

,names,date_x,score,genre,orig_lang,budget_x,revenue,country
22,The Passion of the Christ,2004-02-25 00:00:00,74.0,Drama,English,25000000.0,6.223136e+08,AU
35,John Wick: Chapter 2,2017-05-18 00:00:00,73.0,"Action, Thriller, Crime",English,40000000.0,1.715399e+08,AU
39,John Wick: Chapter 3 - Parabellum,2019-05-16 00:00:00,74.0,"Action, Thriller, Crime",English,55000000.0,3.267097e+08,AU
58,A Bronx Tale,1994-05-20 00:00:00,78.0,"Drama, Crime",English,10000000.0,1.728790e+07,AU
68,Avatar,2009-12-17 00:00:00,76.0,"Action, Adventure, Fantasy, Science Fiction",English,237000000.0,2.923706e+09,AU
...,...,...,...,...,...,...,...,...
10173,20th Century Women,2016-12-28 00:00:00,73.0,Drama,English,7000000.0,9.353729e+06,US
10174,Delta Force 2: The Colombian Connection,1990-08-24 00:00:00,54.0,Action,English,9145817.8,6.698361e+06,US
10175,The Russia House,1990-12-21 00:00:00,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07,US
10176,Darkman II: The Return of Durant,1995-07-11 00:00:00,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08,US
10177,The Swan Princess: A Royal Wedding,2020-07-20 00:00:00,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08,GB

In [6]:
Non_English_movies = date_filter_df.loc[date_filter_df["orig_lang"]!= " English"]
Non_English_movies

,names,date_x,score,genre,orig_lang,budget_x,revenue,country
61,The Forbidden Legend: Sex & Chopsticks 2,2009-03-04 00:00:00,60.0,"Comedy, Drama, Romance",Cantonese,89600000.0,3.183760e+08,HK
111,Demon Slayer: Kimetsu no Yaiba Sibling's Bond,2019-03-29 00:00:00,80.0,"Action, Animation, Fantasy",Japanese,129000000.0,6.455322e+08,JP
210,The Ten Commandments: The Movie,2016-01-28 00:00:00,72.0,Drama,Portuguese,39307171.0,3.707018e+07,BR
277,Orgasm Lecture 2,2020-02-20 00:00:00,100.0,Drama,Korean,201000000.0,1.569324e+09,KR
285,3-D Sex and Zen: Extreme Ecstasy,2011-04-14 00:00:00,48.0,"Drama, Adventure, Romance, Action, History",Cantonese,3500000.0,1.030824e+07,HK
...,...,...,...,...,...,...,...,...
10150,My Student's Mom 2,2017-11-09 00:00:00,10.0,Romance,Korean,201940000.0,3.815731e+07,KR
10158,The Master,1992-05-28 00:00:00,64.0,Action,Cantonese,37500000.0,2.904434e+07,HK
10160,Miss Violence,2013-11-07 00:00:00,71.0,Drama,Greek,100000000.0,3.698620e+08,GR
10166,On Your Wedding Day,2018-08-22 00:00:00,75.0,Romance,Korean,7397000.0,2.089590e+07,KR
10171,The Seven Deadly Sins: Prisoners of the Sky,2018-08-18 00:00:00,76.0,"Action, Adventure, Fantasy, Animation",Japanese,62600000.0,7.060021e+08,JP