In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
movies_data_to_load = Path("imdb_movies.csv")

# Read and store into Pandas DataFrames
movies_data = pd.read_csv(movies_data_to_load)
movies_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [2]:
# Trim the data
movies_data_reduced = movies_data.drop(["overview","crew","orig_title","status","country"], axis=1)
movies_data_reduced

,names,date_x,score,genre,orig_lang,budget_x,revenue
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08
...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,English,7000000.0,9.353729e+06
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,English,9145817.8,6.698361e+06
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08

In [3]:
# Rename the column name
movies_data_reduced = movies_data_reduced.rename(columns={
    "names":"Name",
    "date_x":"Year",
    "score":"Score",
    "genre":"Genre",
    "orig_lang":"Language",
    "budget_x":"Budget",
    "revenue":"Revenue",
})
movies_data_reduced

,Name,Year,Score,Genre,Language,Budget,Revenue
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08
...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,English,7000000.0,9.353729e+06
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,English,9145817.8,6.698361e+06
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08

In [4]:
# Filtered only movies with positive revenue
positive_revenue = movies_data_reduced.loc[movies_data_reduced["Revenue"]>0]
positive_revenue

,Name,Year,Score,Genre,Language,Budget,Revenue
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08
...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,English,7000000.0,9.353729e+06
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,English,9145817.8,6.698361e+06
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08

In [6]:
# Add a profit column to data
# Calculate profit by using revenue substract budget
positive_revenue.loc[:,"Profit"] = positive_revenue["Revenue"] - positive_revenue["Budget"]
positive_revenue

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08,1.966167e+08
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09,1.856795e+09
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08,6.244590e+08
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07,2.190000e+07
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08,2.639420e+08
...,...,...,...,...,...,...,...,...
10173,20th Century Women,12/28/2016,73.0,Drama,English,7000000.0,9.353729e+06,2.353729e+06
10174,Delta Force 2: The Colombian Connection,08/24/1990,54.0,Action,English,9145817.8,6.698361e+06,-2.447457e+06
10175,The Russia House,12/21/1990,61.0,"Drama, Thriller, Romance",English,21800000.0,2.299799e+07,1.197992e+06
10176,Darkman II: The Return of Durant,07/11/1995,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,4.756613e+08,3.596613e+08
10177,The Swan Princess: A Royal Wedding,07/20/2020,70.0,"Animation, Family, Fantasy",English,92400000.0,5.394018e+08,4.470018e+08

In [7]:
# # # Assuming date_x is stored as string
positive_revenue["Year"] = pd.to_datetime(positive_revenue["Year"], errors='coerce')  # Convert "Year" column to datetime

# Filter out rows with invalid dates
positive_revenue = positive_revenue.dropna(subset=["Year"])

start_year = 1990
end_year = 2019

# Filter the DataFrame based on years using .loc
positive_revenue.loc[:, "Year_Filtered"] = positive_revenue["Year"].dt.year  # Extract year part for filtering
date_filter_df = positive_revenue.loc[(positive_revenue["Year_Filtered"] >= start_year) & (positive_revenue["Year_Filtered"] <= end_year)]

# Now you can drop the temporary "Year_Filtered" column if you don't need it further
date_filter_df = date_filter_df.drop(columns=["Year_Filtered"])
date_filter_df

/var/folders/vf/fx_p1h7d1tz18tzk1bj4b9nw0000gn/T/ipykernel_83509/1955771166.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positive_revenue["Year"] = pd.to_datetime(positive_revenue["Year"], errors='coerce')  # Convert "Year" column to datetime

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit
22,The Passion of the Christ,2004-02-25,74.0,Drama,English,25000000.0,622313635.0,597313635.0
35,John Wick: Chapter 2,2017-05-18,73.0,"Action, Thriller, Crime",English,40000000.0,171539887.0,131539887.0
39,John Wick: Chapter 3 - Parabellum,2019-05-16,74.0,"Action, Thriller, Crime",English,55000000.0,326709727.0,271709727.0
58,A Bronx Tale,1994-05-20,78.0,"Drama, Crime",English,10000000.0,17287898.0,7287898.0
61,The Forbidden Legend: Sex & Chopsticks 2,2009-03-04,60.0,"Comedy, Drama, Romance",Cantonese,89600000.0,318375960.2,228775960.2
...,...,...,...,...,...,...,...,...
10171,The Seven Deadly Sins: Prisoners of the Sky,2018-08-18,76.0,"Action, Adventure, Fantasy, Animation",Japanese,62600000.0,706002070.8,643402070.8
10173,20th Century Women,2016-12-28,73.0,Drama,English,7000000.0,9353729.0,2353729.0
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,English,9145817.8,6698361.0,-2447456.8
10175,The Russia House,1990-12-21,61.0,"Drama, Thriller, Romance",English,21800000.0,22997992.0,1197992.0
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action, Adventure, Science Fiction, Thriller, ...",English,116000000.0,475661306.0,359661306.0

In [8]:
# Remove the excess characters in the Genre column
date_filter_df['Genre'] = date_filter_df['Genre'].str.replace('\xa0', '')
date_filter_df['Genre'].unique()

array(['Drama', 'Action,Thriller,Crime', 'Drama,Crime', ...,
       'History,Drama,Family',
       'Adventure,Comedy,Family,Science Fiction,Action',
       'Action,Adventure,Science Fiction,Thriller,Horror'], dtype=object)

In [9]:
English_movies = date_filter_df.loc[date_filter_df["Language"]== " English"]
English_movies

# # Write the english movies into CSV file
# output_file_path_1 = "English_movies_0.csv"
# English_movies.to_csv(output_file_path_1, index=False)
# print(f"English movies including duplicated movies saved to {output_file_path_1}")

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit
22,The Passion of the Christ,2004-02-25,74.0,Drama,English,25000000.0,6.223136e+08,5.973136e+08
35,John Wick: Chapter 2,2017-05-18,73.0,"Action,Thriller,Crime",English,40000000.0,1.715399e+08,1.315399e+08
39,John Wick: Chapter 3 - Parabellum,2019-05-16,74.0,"Action,Thriller,Crime",English,55000000.0,3.267097e+08,2.717097e+08
58,A Bronx Tale,1994-05-20,78.0,"Drama,Crime",English,10000000.0,1.728790e+07,7.287898e+06
68,Avatar,2009-12-17,76.0,"Action,Adventure,Fantasy,Science Fiction",English,237000000.0,2.923706e+09,2.686706e+09
...,...,...,...,...,...,...,...,...
10170,The Love Guru,2008-07-10,42.0,"Comedy,Romance",English,62000000.0,4.015902e+07,-2.184098e+07
10173,20th Century Women,2016-12-28,73.0,Drama,English,7000000.0,9.353729e+06,2.353729e+06
10174,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,English,9145817.8,6.698361e+06,-2.447457e+06
10175,The Russia House,1990-12-21,61.0,"Drama,Thriller,Romance",English,21800000.0,2.299799e+07,1.197992e+06
10176,Darkman II: The Return of Durant,1995-07-11,55.0,"Action,Adventure,Science Fiction,Thriller,Horror",English,116000000.0,4.756613e+08,3.596613e+08

In [10]:
# Check the duplicatted movies
# Create a subset of DataFrame containing only "Name" and "Year"
subset = English_movies[["Name", "Year"]]

# Find duplicated rows based on "Name" and "Year"
duplicated_movies = subset[subset.duplicated(subset=["Name","Year"], keep=False)]
print(len(duplicated_movies))

# Write the duplicated movies into CSV file
output_file_path_2 = "duplicated_movies.csv"
duplicated_movies.to_csv(output_file_path_2, index=False)
print(f"Duplicated movies saved to {output_file_path_2}")

193
Duplicated movies saved to duplicated_movies.csv

In [11]:
# Get unique English movies based on "Name" and "Year"
unique_english = English_movies.drop_duplicates(subset=["Name", "Year"])
print(len(unique_english))

# Specify the file path where you want to save the unique English movies
output_file_path_3 = "unique_english_movies.csv"

# Write the unique English movies to a CSV file
unique_english.to_csv(output_file_path_3, index=False)

print(f"Unique English movies saved to {output_file_path_3}")

4884
Unique English movies saved to unique_english_movies.csv

In [12]:
Non_English_movies = date_filter_df.loc[date_filter_df["Language"]!= " English"]
Non_English_movies

# Write the Non-English movies into CSV file
output_file_path_4 = "non_english_movies.csv"
Non_English_movies.to_csv(output_file_path_4, index=False)
print(f"Non English movies including duplicated movies saved to {output_file_path_4}")

Non English movies including duplicated movies saved to non_english_movies.csv

In [13]:
# Get unique Non English movies based on "Name" and "Year"
unique_non_english = Non_English_movies.drop_duplicates(subset=["Name", "Year"])
print(len(unique_non_english))

1509

In [14]:
# Clean the NaN data in Score, Budget, and Revenue
unique_english.loc[:, ['Score', 'Budget', 'Revenue']] = unique_english[['Score', 'Budget', 'Revenue']].apply(pd.to_numeric, errors="coerce")
unique_english_clean = unique_english.dropna()
unique_english_clean.count()

Name        4878
Year        4878
Score       4878
Genre       4878
Language    4878
Budget      4878
Revenue     4878
Profit      4878
dtype: int64

In [16]:
# Initialize an empty set to store all unique genres
unique_genres = set()

# Iterate over the DataFrame rows
for index, row in unique_english_clean.iterrows():
    # Split the 'Genre' column by commas and add each genre to the set
    movie_genres = [genre.strip() for genre in row["Genre"].split(",")]
    unique_genres.update(movie_genres)

# Convert the set of unique genres to a list
unique_genres = list(unique_genres)

# Create genre columns and update DataFrame in a single iteration
for genre in unique_genres:
    unique_english_clean.loc[:, genre] = unique_english_clean["Genre"].str.contains(genre).astype(int)

# Print the updated DataFrame
unique_english_clean

# Specify the file path where you want to save the unique English movies
output_file_path_5 = "unique_english_movies_clean.csv"

# Write the unique English movies to a CSV file
unique_english_clean.to_csv(output_file_path_5, index=False)

print(f"Unique English movies saved to {output_file_path_5}")

# # Initialize an empty set to store all unique genres
# unique_genres = set()

# # Split the 'Genre' column by commas and add each genre to the set
# for genre_str in unique_english_clean["Genre"]:
#     unique_genres.update(genre_str.split(","))

# # Convert the set of unique genres to a list
# unique_genres = list(unique_genres)

# # Create genre columns and update DataFrame in a single iteration
# for genre in unique_genres:
#     # Check if the genre column already exists
#     if genre not in unique_english_clean.columns:
#         # Use .loc to set values in DataFrame
#         unique_english_clean.loc[:, genre] = unique_english_clean["Genre"].str.contains(genre).astype(int)
#     else:
#         print(f"Column '{genre}' already exists. Skipping...")

# # Print the updated DataFrame
# unique_english_clean

# # Specify the file path where you want to save the unique English movies
# output_file_path_5 = "unique_english_movies_clean.csv"

# # Write the unique English movies to a CSV file
# unique_english_clean.to_csv(output_file_path_5, index=False)

# print(f"Unique English movies saved to {output_file_path_5}")

Unique English movies saved to unique_english_movies_clean.csv