In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Load in file
# Store filepath in a variable
movie_file = Path("imdb_movies.csv")

In [3]:
# Read and display the CSV with Pandas
movie_file_df = pd.read_csv(movie_file)
movie_file_df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [4]:
trimmed_df = movie_file_df[["names", "date_x", "score", "genre", "orig_lang", "budget_x", "revenue"]]

trimmed_df.head()

,names,date_x,score,genre,orig_lang,budget_x,revenue
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08

In [17]:
revenue_only_df = trimmed_df.loc[trimmed_df["revenue"] > 0]

revenue_only_df.head(20)

,names,date_x,score,genre,orig_lang,budget_x,revenue
0,Creed III,03/02/2023,73.0,"Drama, Action",English,75000000.0,2.716167e+08
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",English,460000000.0,2.316795e+09
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy",English,100000000.0,7.244590e+08
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian",12300000.0,3.420000e+07
4,Supercell,03/17/2023,61.0,Action,English,77000000.0,3.409420e+08
5,Cocaine Bear,02/23/2023,66.0,"Thriller, Comedy, Crime",English,35000000.0,8.000000e+07
6,John Wick: Chapter 4,03/23/2023,80.0,"Action, Thriller, Crime",English,100000000.0,3.513494e+08
7,Puss in Boots: The Last Wish,12/26/2022,83.0,"Animation, Family, Fantasy, Adventure, Comedy",English,90000000.0,4.834806e+08
8,Attack on Titan,09/30/2022,59.0,"Action, Science Fiction",English,71000000.0,2.549465e+08
9,The Park,03/02/2023,58.0,"Action, Drama, Horror, Science Fiction, Thriller",English,119200000.0,4.889625e+08
10,Winnie the Pooh: Blood and Honey,02/14/2023,58.0,"Horror, Thriller",English,100000.0,3.200000e+06
11,The Exorcist,11/02/2022,55.0,Horror,"Spanish, Castilian",12000000.0,4.282145e+08
12,Murder Mystery 2,03/31/2023,65.0,"Comedy, Mystery, Action",English,43800000.0,4.895431e+08
13,Black Panther: Wakanda Forever,11/10/2022,73.0,"Action, Adventure, Science Fiction",English,250000000.0,8.540411e+08
14,The Pope's Exorcist,04/06/2023,72.0,"Horror, Mystery",English,92000000.0,4.622165e+08
15,Prizefighter: The Life of Jem Belcher,07/22/2022,62.0,"Drama, History",English,77600000.0,5.621126e+08
16,Knock at the Cabin,02/02/2023,64.0,"Thriller, Mystery, Horror, Fantasy",English,20000000.0,5.462950e+07
17,The Devil Conspiracy,01/13/2023,65.0,"Horror, Thriller",English,54060000.0,4.926464e+08
18,Cazadora,01/19/2023,57.0,Thriller,"Spanish, Castilian",110400000.0,3.181178e+08
19,Gold Run,12/15/2022,65.0,"War, Action, Adventure, Thriller",Norwegian,123500000.0,4.204301e+08

In [24]:
start_date = "01/01/1990"
end_date = "01/01/2020"
date_range_df = revenue_only_df.loc[(revenue_only_df["date_x"] >= start_date) & (revenue_only_df["date_x"] <= end_date)]

date_range_df.head(20)

,names,date_x,score,genre,orig_lang,budget_x,revenue
389,The Good Dinosaur,01/01/2016,68.0,"Adventure, Animation, Family",English,187500000.0,333771037.0
1063,The Hot Chick,01/01/2003,64.0,"Comedy, Fantasy",English,43590000.0,54639553.0
1162,Bolt,01/01/2009,65.0,"Animation, Family, Adventure, Comedy",English,150000000.0,328015029.0
1460,Daughter of Darkness 2,01/01/1994,50.0,"Drama, Horror, Comedy",Cantonese,131200000.0,269916224.0
1582,Chicken Little,01/01/2006,59.0,"Animation, Family, Comedy",English,150000000.0,310043823.0
1718,Life of Pi,01/01/2013,74.0,"Adventure, Drama",English,120000000.0,619310368.0
1812,Sex Stories,01/01/1999,60.0,Drama,"Spanish, Castilian",73800000.0,346352260.6
1851,Dumb and Dumber To,01/01/2015,56.0,Comedy,English,40000000.0,156553592.0
1924,The Devil's Advocate,01/01/1998,74.0,"Drama, Mystery, Thriller, Horror",English,57000000.0,152944660.0
2020,"Moses, Prince of Egypt",01/01/2000,56.0,NaN,English,80300000.0,321306715.6
2083,Assassin's Creed,01/01/2017,54.0,"Action, Adventure, Science Fiction",English,125000000.0,240697856.0
2204,Alvin and the Chipmunks: Chipwrecked,01/01/2012,57.0,"Comedy, Fantasy, Family, Music, Animation",English,80000000.0,349088523.0
2312,Spy Kids 3-D: Game Over,01/01/2004,51.0,"Action, Adventure, Comedy, Family, Science Fic...",English,40000000.0,167851995.0
2460,Wai's Romance,01/01/1994,0.0,Comedy,Cantonese,264940000.0,175269998.8
2482,Alien Resurrection,01/01/1998,61.0,"Science Fiction, Horror, Action",English,70000000.0,162000000.0
2499,Sleepy Hollow,01/01/2000,72.0,"Drama, Fantasy, Thriller, Mystery, Horror",English,70000000.0,207068340.0
2511,Liao Zhai - Home for the Intimate Ghosts,01/01/1991,55.0,Fantasy,Chinese,52400000.0,581428834.0
2548,Point Break,01/01/1992,71.0,"Action, Thriller, Crime",English,100000000.0,126704591.0
2549,Point Break,01/01/1992,71.0,"Action, Thriller, Crime",English,24000000.0,83531958.0
2561,Walking with Dinosaurs,01/01/2014,61.0,"Animation, Family, Adventure",English,80000000.0,123368842.0

In [25]:
English_Revenue_DateRange_df= english_only_df = date_range_df.loc[date_range_df["orig_lang"] == " English"]

English_Revenue_DateRange_df.head()

,names,date_x,score,genre,orig_lang,budget_x,revenue
389,The Good Dinosaur,01/01/2016,68.0,"Adventure, Animation, Family",English,187500000.0,333771037.0
1063,The Hot Chick,01/01/2003,64.0,"Comedy, Fantasy",English,43590000.0,54639553.0
1162,Bolt,01/01/2009,65.0,"Animation, Family, Adventure, Comedy",English,150000000.0,328015029.0
1582,Chicken Little,01/01/2006,59.0,"Animation, Family, Comedy",English,150000000.0,310043823.0
1718,Life of Pi,01/01/2013,74.0,"Adventure, Drama",English,120000000.0,619310368.0