In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Load the source data file and read and display it with Pandas

movie_data = Path("imdb_movies.csv")
movie_data_df = pd.read_csv(movie_data)
movie_data_df

# Set global float formatting to make the columns with dollar amounts easier to read
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
#Edit down the columns to the ones we need
edited_movies_df = movie_data_df[["names", "date_x", "score", "genre", "orig_lang", "budget_x", "revenue"]]

#And rename them to be more user friendly

edited_movies_df = edited_movies_df.rename(columns={"date_x":"Year",
                                                        "budget_x":"Budget",
                                                        "names":"Name",
                                                        "score":"Score",
                                                        "genre":"Genre",
                                                        "revenue":"Revenue",
                                                        "orig_lang":"Language"
                                                       })

#Edit the "Year" column to remove the day and month
edited_movies_df.loc[:,"Year"]=pd.to_datetime(edited_movies_df["Year"], errors='coerce').dt.year.astype(int)

edited_movies_df

,Name,Year,Score,Genre,Language,Budget,Revenue
0,Creed III,2023,73.00,"Drama, Action",English,"75,000,000.00","271,616,668.00"
1,Avatar: The Way of Water,2022,78.00,"Science Fiction, Adventure, Action",English,"460,000,000.00","2,316,794,914.00"
2,The Super Mario Bros. Movie,2023,76.00,"Animation, Adventure, Family, Fantasy, Comedy",English,"100,000,000.00","724,459,031.00"
3,Mummies,2023,70.00,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian","12,300,000.00","34,200,000.00"
4,Supercell,2023,61.00,Action,English,"77,000,000.00","340,941,958.60"
...,...,...,...,...,...,...,...
10173,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00"
10174,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00"
10175,The Russia House,1990,61.00,"Drama, Thriller, Romance",English,"21,800,000.00","22,997,992.00"
10176,Darkman II: The Return of Durant,1995,55.00,"Action, Adventure, Science Fiction, Thriller, ...",English,"116,000,000.00","475,661,306.00"
10177,The Swan Princess: A Royal Wedding,2020,70.00,"Animation, Family, Fantasy",English,"92,400,000.00","539,401,838.60"

In [4]:
#Remove duplicate movie names with the same year

cleaned_movies_df = edited_movies_df.drop_duplicates(subset=["Name","Year"],keep=False)
cleaned_movies_df.reset_index(drop=True, inplace = True)
cleaned_movies_df

,Name,Year,Score,Genre,Language,Budget,Revenue
0,Creed III,2023,73.00,"Drama, Action",English,"75,000,000.00","271,616,668.00"
1,Avatar: The Way of Water,2022,78.00,"Science Fiction, Adventure, Action",English,"460,000,000.00","2,316,794,914.00"
2,The Super Mario Bros. Movie,2023,76.00,"Animation, Adventure, Family, Fantasy, Comedy",English,"100,000,000.00","724,459,031.00"
3,Mummies,2023,70.00,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian","12,300,000.00","34,200,000.00"
4,Supercell,2023,61.00,Action,English,"77,000,000.00","340,941,958.60"
...,...,...,...,...,...,...,...
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00"
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00"
9808,The Russia House,1990,61.00,"Drama, Thriller, Romance",English,"21,800,000.00","22,997,992.00"
9809,Darkman II: The Return of Durant,1995,55.00,"Action, Adventure, Science Fiction, Thriller, ...",English,"116,000,000.00","475,661,306.00"
9810,The Swan Princess: A Royal Wedding,2020,70.00,"Animation, Family, Fantasy",English,"92,400,000.00","539,401,838.60"

In [5]:
#Remove any non-applicable date from the Score, Budget, and Revenue columns 
cleaned_movies_df.loc[:, ['Score', 'Budget', 'Revenue']] = cleaned_movies_df[['Score', 'Budget', 'Revenue']].apply(pd.to_numeric, errors="coerce")
xtra_cleaned_movies = cleaned_movies_df.dropna()
xtra_cleaned_movies

,Name,Year,Score,Genre,Language,Budget,Revenue
0,Creed III,2023,73.00,"Drama, Action",English,"75,000,000.00","271,616,668.00"
1,Avatar: The Way of Water,2022,78.00,"Science Fiction, Adventure, Action",English,"460,000,000.00","2,316,794,914.00"
2,The Super Mario Bros. Movie,2023,76.00,"Animation, Adventure, Family, Fantasy, Comedy",English,"100,000,000.00","724,459,031.00"
3,Mummies,2023,70.00,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian","12,300,000.00","34,200,000.00"
4,Supercell,2023,61.00,Action,English,"77,000,000.00","340,941,958.60"
...,...,...,...,...,...,...,...
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00"
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00"
9808,The Russia House,1990,61.00,"Drama, Thriller, Romance",English,"21,800,000.00","22,997,992.00"
9809,Darkman II: The Return of Durant,1995,55.00,"Action, Adventure, Science Fiction, Thriller, ...",English,"116,000,000.00","475,661,306.00"
9810,The Swan Princess: A Royal Wedding,2020,70.00,"Animation, Family, Fantasy",English,"92,400,000.00","539,401,838.60"

In [6]:
#Filter out movies that made zero revenue

revenue_only_df = xtra_cleaned_movies.loc[xtra_cleaned_movies["Revenue"] > 0]

revenue_only_df

,Name,Year,Score,Genre,Language,Budget,Revenue
0,Creed III,2023,73.00,"Drama, Action",English,"75,000,000.00","271,616,668.00"
1,Avatar: The Way of Water,2022,78.00,"Science Fiction, Adventure, Action",English,"460,000,000.00","2,316,794,914.00"
2,The Super Mario Bros. Movie,2023,76.00,"Animation, Adventure, Family, Fantasy, Comedy",English,"100,000,000.00","724,459,031.00"
3,Mummies,2023,70.00,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian","12,300,000.00","34,200,000.00"
4,Supercell,2023,61.00,Action,English,"77,000,000.00","340,941,958.60"
...,...,...,...,...,...,...,...
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00"
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00"
9808,The Russia House,1990,61.00,"Drama, Thriller, Romance",English,"21,800,000.00","22,997,992.00"
9809,Darkman II: The Return of Durant,1995,55.00,"Action, Adventure, Science Fiction, Thriller, ...",English,"116,000,000.00","475,661,306.00"
9810,The Swan Princess: A Royal Wedding,2020,70.00,"Animation, Family, Fantasy",English,"92,400,000.00","539,401,838.60"

In [7]:
#Add a column for the profit each movie made
revenue_only_df['Profit'] = revenue_only_df['Revenue'] - revenue_only_df['Budget']

revenue_only_df

/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/91869151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_only_df['Profit'] = revenue_only_df['Revenue'] - revenue_only_df['Budget']

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit
0,Creed III,2023,73.00,"Drama, Action",English,"75,000,000.00","271,616,668.00","196,616,668.00"
1,Avatar: The Way of Water,2022,78.00,"Science Fiction, Adventure, Action",English,"460,000,000.00","2,316,794,914.00","1,856,794,914.00"
2,The Super Mario Bros. Movie,2023,76.00,"Animation, Adventure, Family, Fantasy, Comedy",English,"100,000,000.00","724,459,031.00","624,459,031.00"
3,Mummies,2023,70.00,"Animation, Comedy, Family, Adventure, Fantasy","Spanish, Castilian","12,300,000.00","34,200,000.00","21,900,000.00"
4,Supercell,2023,61.00,Action,English,"77,000,000.00","340,941,958.60","263,941,958.60"
...,...,...,...,...,...,...,...,...
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00"
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80"
9808,The Russia House,1990,61.00,"Drama, Thriller, Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00"
9809,Darkman II: The Return of Durant,1995,55.00,"Action, Adventure, Science Fiction, Thriller, ...",English,"116,000,000.00","475,661,306.00","359,661,306.00"
9810,The Swan Princess: A Royal Wedding,2020,70.00,"Animation, Family, Fantasy",English,"92,400,000.00","539,401,838.60","447,001,838.60"

In [8]:
# Filter out rows with invalid dates
revenue_only_df = revenue_only_df.dropna(subset=["Year"])

# Filter the DataFrame to the years we're looking for

start_year = 1990
end_year = 2019  

date_range_df = revenue_only_df.loc[(revenue_only_df["Year"] >= start_year) & (revenue_only_df["Year"] <= end_year)]

date_range_df

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit
22,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00"
35,John Wick: Chapter 2,2017,73.00,"Action, Thriller, Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00"
39,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action, Thriller, Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00"
58,A Bronx Tale,1994,78.00,"Drama, Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00"
61,The Forbidden Legend: Sex & Chopsticks 2,2009,60.00,"Comedy, Drama, Romance",Cantonese,"89,600,000.00","318,375,960.20","228,775,960.20"
...,...,...,...,...,...,...,...,...
9804,The Seven Deadly Sins: Prisoners of the Sky,2018,76.00,"Action, Adventure, Fantasy, Animation",Japanese,"62,600,000.00","706,002,070.80","643,402,070.80"
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00"
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80"
9808,The Russia House,1990,61.00,"Drama, Thriller, Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00"
9809,Darkman II: The Return of Durant,1995,55.00,"Action, Adventure, Science Fiction, Thriller, ...",English,"116,000,000.00","475,661,306.00","359,661,306.00"

In [9]:
#Check for excess symbols in the Genre column
date_range_df["Genre"].unique()

array(['Drama', 'Action,\xa0Thriller,\xa0Crime', 'Drama,\xa0Crime', ...,
       'History,\xa0Drama,\xa0Family',
       'Adventure,\xa0Comedy,\xa0Family,\xa0Science Fiction,\xa0Action',
       'Action,\xa0Adventure,\xa0Science Fiction,\xa0Thriller,\xa0Horror'],
      dtype=object)

In [10]:
# Remove the excess characters in the Genre column
date_range_df['Genre'] = date_range_df['Genre'].str.replace('\xa0', '')

date_range_df['Genre'].unique()

/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/3331529615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df['Genre'] = date_range_df['Genre'].str.replace('\xa0', '')

array(['Drama', 'Action,Thriller,Crime', 'Drama,Crime', ...,
       'History,Drama,Family',
       'Adventure,Comedy,Family,Science Fiction,Action',
       'Action,Adventure,Science Fiction,Thriller,Horror'], dtype=object)

In [11]:
# Initialize an empty set to store all unique genres
unique_genres = set()

# Iterate over the DataFrame rows
for index, row in date_range_df.iterrows():
    # Split the 'Genre' column by commas and add each genre to the set
    movie_genres = [genre.strip() for genre in row['Genre'].split(',')]
    unique_genres.update(movie_genres)

# Convert the set of unique genres to a list
unique_genres = list(unique_genres)

# Iterate over the DataFrame rows again to create genre columns
for index, row in date_range_df.iterrows():
    # Split the 'Genre' column by commas and create a dictionary to store genre values
    movie_genres = {genre: 1 if genre.strip() in row['Genre'] else 0 for genre in unique_genres}
    
    # Update the DataFrame row with genre values
    for genre, value in movie_genres.items():
        date_range_df.at[index, genre] = value

# Print the updated DataFrame
date_range_df

/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value
/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/243729430.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df.at[index, genre] = value

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Music,Thriller,...,War,Fantasy,Horror,Romance,Animation,Mystery,Documentary,Action,Science Fiction,History
22,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
35,John Wick: Chapter 2,2017,73.00,"Action,Thriller,Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
39,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action,Thriller,Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
58,A Bronx Tale,1994,78.00,"Drama,Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
61,The Forbidden Legend: Sex & Chopsticks 2,2009,60.00,"Comedy,Drama,Romance",Cantonese,"89,600,000.00","318,375,960.20","228,775,960.20",0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9804,The Seven Deadly Sins: Prisoners of the Sky,2018,76.00,"Action,Adventure,Fantasy,Animation",Japanese,"62,600,000.00","706,002,070.80","643,402,070.80",0.00,0.00,...,0.00,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
9808,The Russia House,1990,61.00,"Drama,Thriller,Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00",0.00,1.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
9809,Darkman II: The Return of Durant,1995,55.00,"Action,Adventure,Science Fiction,Thriller,Horror",English,"116,000,000.00","475,661,306.00","359,661,306.00",0.00,1.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00

In [12]:
#Find how many different genres each movie has so we can disperse the dollar amounts evenly and add those values to column
date_range_df['Genre Sum'] = date_range_df[unique_genres].sum(axis=1)

date_range_df

/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/1377249680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df['Genre Sum'] = date_range_df[unique_genres].sum(axis=1)

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Music,Thriller,...,Fantasy,Horror,Romance,Animation,Mystery,Documentary,Action,Science Fiction,History,Genre Sum
22,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
35,John Wick: Chapter 2,2017,73.00,"Action,Thriller,Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,3.00
39,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action,Thriller,Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,3.00
58,A Bronx Tale,1994,78.00,"Drama,Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00
61,The Forbidden Legend: Sex & Chopsticks 2,2009,60.00,"Comedy,Drama,Romance",Cantonese,"89,600,000.00","318,375,960.20","228,775,960.20",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9804,The Seven Deadly Sins: Prisoners of the Sky,2018,76.00,"Action,Adventure,Fantasy,Animation",Japanese,"62,600,000.00","706,002,070.80","643,402,070.80",0.00,0.00,...,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,4.00
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
9808,The Russia House,1990,61.00,"Drama,Thriller,Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00",0.00,1.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
9809,Darkman II: The Return of Durant,1995,55.00,"Action,Adventure,Science Fiction,Thriller,Horror",English,"116,000,000.00","475,661,306.00","359,661,306.00",0.00,1.00,...,0.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,5.00

In [13]:
#Remove blank space in around the words in the Language column
date_range_df["Language"] = date_range_df["Language"].str.lstrip().str.rstrip()

#Create a data frame with only English Movies
English_Movies_df = date_range_df.loc[date_range_df["Language"] == "English"]

English_Movies_df

/var/folders/2b/8jxdb5w95z9d5h81xryzsss00000gn/T/ipykernel_48403/2326084632.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_range_df["Language"] = date_range_df["Language"].str.lstrip().str.rstrip()

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Music,Thriller,...,Fantasy,Horror,Romance,Animation,Mystery,Documentary,Action,Science Fiction,History,Genre Sum
22,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
35,John Wick: Chapter 2,2017,73.00,"Action,Thriller,Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,3.00
39,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action,Thriller,Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,3.00
58,A Bronx Tale,1994,78.00,"Drama,Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00
68,Avatar,2009,76.00,"Action,Adventure,Fantasy,Science Fiction",English,"237,000,000.00","2,923,706,026.00","2,686,706,026.00",0.00,0.00,...,1.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9803,The Love Guru,2008,42.00,"Comedy,Romance",English,"62,000,000.00","40,159,017.00","-21,840,983.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00
9806,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
9807,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
9808,The Russia House,1990,61.00,"Drama,Thriller,Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00",0.00,1.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
9809,Darkman II: The Return of Durant,1995,55.00,"Action,Adventure,Science Fiction,Thriller,Horror",English,"116,000,000.00","475,661,306.00","359,661,306.00",0.00,1.00,...,0.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,5.00

In [14]:
#Create a data frame with only Non-English Movies
Non_English_Movies_df = date_range_df.loc[date_range_df["Language"] != "English"]

Non_English_Movies_df

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Music,Thriller,...,Fantasy,Horror,Romance,Animation,Mystery,Documentary,Action,Science Fiction,History,Genre Sum
61,The Forbidden Legend: Sex & Chopsticks 2,2009,60.00,"Comedy,Drama,Romance",Cantonese,"89,600,000.00","318,375,960.20","228,775,960.20",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
107,Demon Slayer: Kimetsu no Yaiba Sibling's Bond,2019,80.00,"Action,Animation,Fantasy",Japanese,"129,000,000.00","645,532,173.40","516,532,173.40",0.00,0.00,...,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,3.00
204,The Ten Commandments: The Movie,2016,72.00,Drama,Portuguese,"39,307,171.00","37,070,177.00","-2,236,994.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
273,3-D Sex and Zen: Extreme Ecstasy,2011,48.00,"Drama,Adventure,Romance,Action,History",Cantonese,"3,500,000.00","10,308,238.00","6,808,238.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,5.00
283,The Last: Naruto the Movie,2014,78.00,"Action,Romance,Animation",Japanese,"903,852.00","19,840,000.00","18,936,148.00",0.00,0.00,...,0.00,0.00,1.00,1.00,0.00,0.00,1.00,0.00,0.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9783,My Student's Mom 2,2017,10.00,Romance,Korean,"201,940,000.00","38,157,314.00","-163,782,686.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
9791,The Master,1992,64.00,Action,Cantonese,"37,500,000.00","29,044,338.00","-8,455,662.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
9793,Miss Violence,2013,71.00,Drama,Greek,"100,000,000.00","369,861,963.80","269,861,963.80",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
9799,On Your Wedding Day,2018,75.00,Romance,Korean,"7,397,000.00","20,895,905.00","13,498,905.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
9804,The Seven Deadly Sins: Prisoners of the Sky,2018,76.00,"Action,Adventure,Fantasy,Animation",Japanese,"62,600,000.00","706,002,070.80","643,402,070.80",0.00,0.00,...,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,4.00

In [15]:
English_Movies_df.reset_index(drop=True, inplace=True)

English_Movies_df

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Music,Thriller,...,Fantasy,Horror,Romance,Animation,Mystery,Documentary,Action,Science Fiction,History,Genre Sum
0,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
1,John Wick: Chapter 2,2017,73.00,"Action,Thriller,Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,3.00
2,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action,Thriller,Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00",0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,3.00
3,A Bronx Tale,1994,78.00,"Drama,Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00
4,Avatar,2009,76.00,"Action,Adventure,Fantasy,Science Fiction",English,"237,000,000.00","2,923,706,026.00","2,686,706,026.00",0.00,0.00,...,1.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4761,The Love Guru,2008,42.00,"Comedy,Romance",English,"62,000,000.00","40,159,017.00","-21,840,983.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00
4762,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
4763,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
4764,The Russia House,1990,61.00,"Drama,Thriller,Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00",0.00,1.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
4765,Darkman II: The Return of Durant,1995,55.00,"Action,Adventure,Science Fiction,Thriller,Horror",English,"116,000,000.00","475,661,306.00","359,661,306.00",0.00,1.00,...,0.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,5.00

In [16]:
Non_English_Movies_df.reset_index(drop=True, inplace=True)

Non_English_Movies_df

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Music,Thriller,...,Fantasy,Horror,Romance,Animation,Mystery,Documentary,Action,Science Fiction,History,Genre Sum
0,The Forbidden Legend: Sex & Chopsticks 2,2009,60.00,"Comedy,Drama,Romance",Cantonese,"89,600,000.00","318,375,960.20","228,775,960.20",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00
1,Demon Slayer: Kimetsu no Yaiba Sibling's Bond,2019,80.00,"Action,Animation,Fantasy",Japanese,"129,000,000.00","645,532,173.40","516,532,173.40",0.00,0.00,...,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,3.00
2,The Ten Commandments: The Movie,2016,72.00,Drama,Portuguese,"39,307,171.00","37,070,177.00","-2,236,994.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
3,3-D Sex and Zen: Extreme Ecstasy,2011,48.00,"Drama,Adventure,Romance,Action,History",Cantonese,"3,500,000.00","10,308,238.00","6,808,238.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,5.00
4,The Last: Naruto the Movie,2014,78.00,"Action,Romance,Animation",Japanese,"903,852.00","19,840,000.00","18,936,148.00",0.00,0.00,...,0.00,0.00,1.00,1.00,0.00,0.00,1.00,0.00,0.00,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,My Student's Mom 2,2017,10.00,Romance,Korean,"201,940,000.00","38,157,314.00","-163,782,686.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
1471,The Master,1992,64.00,Action,Cantonese,"37,500,000.00","29,044,338.00","-8,455,662.00",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1.00
1472,Miss Violence,2013,71.00,Drama,Greek,"100,000,000.00","369,861,963.80","269,861,963.80",0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
1473,On Your Wedding Day,2018,75.00,Romance,Korean,"7,397,000.00","20,895,905.00","13,498,905.00",0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
1474,The Seven Deadly Sins: Prisoners of the Sky,2018,76.00,"Action,Adventure,Fantasy,Animation",Japanese,"62,600,000.00","706,002,070.80","643,402,070.80",0.00,0.00,...,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,0.00,4.00

In [17]:
# Export the final data frames, English and Non English into csv files
English_Movies_Data = English_Movies_df.to_csv("English_Movies_Data.csv", index=False)

Non_English_Movies_Data = Non_English_Movies_df.to_csv("Non_English_Movies_Data.csv", index=False)