In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

# Set global float formatting
pd.options.display.float_format = '{:,.2f}'.format

# Load the cleaned file of english movies
movies_data_to_load = Path("unique_english_movies_clean_0.csv")

# Read and store into Pandas DataFrames
movies_CPI_df = pd.read_csv(movies_data_to_load)
movies_CPI_df

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit
0,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00"
1,John Wick: Chapter 2,2017,73.00,"Action,Thriller,Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00"
2,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action,Thriller,Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00"
3,A Bronx Tale,1994,78.00,"Drama,Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00"
4,Avatar,2009,76.00,"Action,Adventure,Fantasy,Science Fiction",English,"237,000,000.00","2,923,706,026.00","2,686,706,026.00"
...,...,...,...,...,...,...,...,...
4870,The Love Guru,2008,42.00,"Comedy,Romance",English,"62,000,000.00","40,159,017.00","-21,840,983.00"
4871,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00"
4872,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80"
4873,The Russia House,1990,61.00,"Drama,Thriller,Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00"
4874,Darkman II: The Return of Durant,1995,55.00,"Action,Adventure,Science Fiction,Thriller,Horror",English,"116,000,000.00","475,661,306.00","359,661,306.00"

In [3]:
# CPI data for the years 1990 to 2024
cpi_data = {
    1990: 130.7,
    1991: 136.2,
    1992: 140.3,
    1993: 144.5,
    1994: 148.2,
    1995: 152.4,
    1996: 156.9,
    1997: 160.5,
    1998: 163.0,
    1999: 166.6,
    2000: 172.2,
    2001: 177.1,
    2002: 179.9,
    2003: 184.0,
    2004: 188.9,
    2005: 195.3,
    2006: 201.6,
    2007: 207.342,
    2008: 215.303,
    2009: 214.537,
    2010: 218.056,
    2011: 224.939,
    2012: 229.594,
    2013: 232.957,
    2014: 236.736,
    2015: 237.017,
    2016: 240.007,
    2017: 245.120,
    2018: 251.107,
    2019: 255.657,
    2020: 258.811,
    2021: 265.056,
    2022: 271.937,
    2023: 278.521,
    2024: 285.595  # CPI for 2024 is projected
}

df = pd.DataFrame(movies_CPI_df)

# Function to adjust the dollar value based on CPI
def adjust_dollar_value(row, column_name, base_year):
    cpi_ratio = cpi_data[2024] / cpi_data[base_year]  # CPI ratio from base year to 2024
    return row[column_name] * cpi_ratio

# Apply adjustment to Budget, Revenue, and Profit columns
df['Budget_2024'] = df.apply(lambda row: adjust_dollar_value(row, 'Budget', row['Year']), axis=1)
df['Revenue_2024'] = df.apply(lambda row: adjust_dollar_value(row, 'Revenue', row['Year']), axis=1)
df['Profit_2024'] = df.apply(lambda row: adjust_dollar_value(row, 'Profit', row['Year']), axis=1)

# Print the DataFrame with adjusted values
df

,Name,Year,Score,Genre,Language,Budget,Revenue,Profit,Budget_2024,Revenue_2024,Profit_2024
0,The Passion of the Christ,2004,74.00,Drama,English,"25,000,000.00","622,313,635.00","597,313,635.00","37,797,114.88","940,866,398.03","903,069,283.15"
1,John Wick: Chapter 2,2017,73.00,"Action,Thriller,Crime",English,"40,000,000.00","171,539,887.00","131,539,887.00","46,604,928.20","199,865,102.92","153,260,174.72"
2,John Wick: Chapter 3 - Parabellum,2019,74.00,"Action,Thriller,Crime",English,"55,000,000.00","326,709,727.00","271,709,727.00","61,440,621.61","364,968,158.44","303,527,536.83"
3,A Bronx Tale,1994,78.00,"Drama,Crime",English,"10,000,000.00","17,287,898.00","7,287,898.00","19,270,917.68","33,315,365.92","14,044,448.24"
4,Avatar,2009,76.00,"Action,Adventure,Fantasy,Science Fiction",English,"237,000,000.00","2,923,706,026.00","2,686,706,026.00","315,498,095.90","3,892,083,055.58","3,576,584,959.68"
...,...,...,...,...,...,...,...,...,...,...,...
4870,The Love Guru,2008,42.00,"Comedy,Romance",English,"62,000,000.00","40,159,017.00","-21,840,983.00","82,241,724.45","53,270,109.85","-28,971,614.61"
4871,20th Century Women,2016,73.00,Drama,English,"7,000,000.00","9,353,729.00","2,353,729.00","8,329,611.22","11,130,418.00","2,800,806.78"
4872,Delta Force 2: The Colombian Connection,1990,54.00,Action,English,"9,145,817.80","6,698,361.00","-2,447,456.80","19,984,696.52","14,636,713.16","-5,347,983.36"
4873,The Russia House,1990,61.00,"Drama,Thriller,Romance",English,"21,800,000.00","22,997,992.00","1,197,992.00","47,635,585.31","50,253,339.90","2,617,754.59"
4874,Darkman II: The Return of Durant,1995,55.00,"Action,Adventure,Science Fiction,Thriller,Horror",English,"116,000,000.00","475,661,306.00","359,661,306.00","217,382,021.00","891,381,172.49","673,999,151.49"

In [5]:
# Specify the file path where you want to save the unique English movies
output_file = "english_movies_CPI.csv"

# Write the unique English movies to a CSV file
df.to_csv(output_file, index=False)

print(f"English movies CPI saved to {output_file}")

English movies CPI saved to english_movies_CPI.csv